### geopy

In [1]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
import googlemaps

In [6]:
def geocoding(address):
    geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
    geo = geolocoder.geocode(address)
    crd = {"위도": str(geo.latitude), "경도": str(geo.longitude)}

    return crd

crd = geocoding("서울특별시 종로구 창성동 109-6")
print(crd['위도'])
print(crd['경도'])

37.5808835
126.9725454

In [7]:
df = pd.read_csv("./seoul_closed_clothes_final.csv", encoding='utf-8')

        구     동                     주소         위도          경도
0     강남구  역삼1동   서울특별시 강남구 테헤란로57길 38  37.506748  127.046371
1     강남구  역삼1동  서울특별시 강남구 테헤란로 53길 51  37.506840  127.044373
2     강남구  역삼1동  서울특별시 강남구 테헤란로 53길 37  37.506241  127.045349
3     강남구  역삼1동    서울특별시 강남구 테헤란로55길50  37.507095  127.045052
4     강남구  역삼1동     서울특별시 강남구봉은사로50길41  37.507862  127.044632
...   ...   ...                    ...        ...         ...
9254  종로구   숭인동     서울특별시 종로구 숭인동1가길 1  37.576599  127.020699
9255  종로구   숭인동     서울특별시 종로구 숭인동1길 19  37.578552  127.020836
9256  종로구   숭인동     서울특별시 종로구 보문로9길 43  37.576736  127.021057
9257  종로구   숭인동   서울특별시 종로구 숭인동2길 36-4  37.575352  127.019043
9258  종로구   숭인동    서울특별시 종로구 종로63가길 26  37.578194  127.019913

[9259 rows x 5 columns]

In [18]:
geolocator = Nominatim(user_agent="geoapiExercies")

#주소로 부터 위도와 경도 찾는 함수
def get_la_lo(address):
    try:
        location = geolocator.geocode(address, timeout=10)
        if location:
             return location.latitude, location.longitude
        else:
             return None, None
    except GeocoderTimedOut:
        return get_la_lo(address)

##### 위도, 경도 1차 변환

In [20]:
#위도와 경도가 없는 경우 업데이트

for row in df.itertuples():
    if pd.isna(row.위도) or pd.isna(row.경도):
        latitude, longitude = get_la_lo(row.주소)
        df.at[row.Index, '위도'] = latitude
        df.at[row.Index, '경도'] = longitude
        
print(df)

        구     동                     주소         위도          경도
0     강남구  역삼1동   서울특별시 강남구 테헤란로57길 38  37.506748  127.046371
1     강남구  역삼1동  서울특별시 강남구 테헤란로 53길 51  37.506840  127.044373
2     강남구  역삼1동  서울특별시 강남구 테헤란로 53길 37  37.506241  127.045349
3     강남구  역삼1동    서울특별시 강남구 테헤란로55길50  37.507095  127.045052
4     강남구  역삼1동     서울특별시 강남구봉은사로50길41  37.507862  127.044632
...   ...   ...                    ...        ...         ...
9254  종로구   숭인동     서울특별시 종로구 숭인동1가길 1  37.576599  127.020699
9255  종로구   숭인동     서울특별시 종로구 숭인동1길 19  37.578552  127.020836
9256  종로구   숭인동     서울특별시 종로구 보문로9길 43  37.576736  127.021057
9257  종로구   숭인동   서울특별시 종로구 숭인동2길 36-4  37.575352  127.019043
9258  종로구   숭인동    서울특별시 종로구 종로63가길 26  37.578194  127.019913

[9259 rows x 5 columns]

In [23]:
df.isnull().sum()

구       0
동       0
주소      0
위도    474
경도    474
dtype: int64

In [25]:
# 위도,경도 notnull 인 데이터만 1차적으로 seoul_closed_clothes_lolanotnull.csv 로 저장
df_notnull=df[df['위도'].notnull()]
df_notnull.to_csv("./seoul_closed_clothes_lolanotnull.csv",index=False)

        구     동                     주소         위도          경도
0     강남구  역삼1동   서울특별시 강남구 테헤란로57길 38  37.506748  127.046371
1     강남구  역삼1동  서울특별시 강남구 테헤란로 53길 51  37.506840  127.044373
2     강남구  역삼1동  서울특별시 강남구 테헤란로 53길 37  37.506241  127.045349
3     강남구  역삼1동    서울특별시 강남구 테헤란로55길50  37.507095  127.045052
4     강남구  역삼1동     서울특별시 강남구봉은사로50길41  37.507862  127.044632
...   ...   ...                    ...        ...         ...
9254  종로구   숭인동     서울특별시 종로구 숭인동1가길 1  37.576599  127.020699
9255  종로구   숭인동     서울특별시 종로구 숭인동1길 19  37.578552  127.020836
9256  종로구   숭인동     서울특별시 종로구 보문로9길 43  37.576736  127.021057
9257  종로구   숭인동   서울특별시 종로구 숭인동2길 36-4  37.575352  127.019043
9258  종로구   숭인동    서울특별시 종로구 종로63가길 26  37.578194  127.019913

[8785 rows x 5 columns]

In [24]:
# 위도,경도 notnull 인 데이터는 seoul_closed_clothes_lolanull.csv 로 저장
df_null=df[df['위도'].isna()]
df_null.to_csv("./seoul_closed_clothes_lolanull.csv",index=False)

         구      동                          주소  위도  경도
1103   강동구   암사1동         강동구 암사1동 명일동 322-13 NaN NaN
1137   강동구   암사3동          강동구 암사3동 440 (건너편) NaN NaN
1169   강동구   둔촌2동      강동구 둔촌2동 79 (4공 어린이공원) NaN NaN
2711   광진구   중곡1동       서울특별시 광진구 천호대로 517 뒷편 NaN NaN
2719   광진구   중곡1동         서울특별시 광진구 긴고랑로1길 21 NaN NaN
...    ...    ...                         ...  ..  ..
7999  영등포구  당산제2동   서울특별시 영등포구 국회대로 53길 24-10 NaN NaN
8000  영등포구  당산제2동     서울특별시 영등포구 당산로 50길 17-1 NaN NaN
8001  영등포구  당산제2동    서울특별시 영등포구 당산로 229, 7번출구 NaN NaN
8179  영등포구  대림제3동  서울특별시 영등포구 대림로35길(동심어린이공원) NaN NaN
8181  영등포구  대림제3동  서울특별시 영등포구 가마산로47길 신우어린이공원 NaN NaN

[474 rows x 5 columns]

---

##### 위도, 경도 2차 변환

In [158]:
geolocator = Nominatim(user_agent="geoapiExercies")

for row in df_null.itertuples():
    if pd.isna(row.위도) or pd.isna(row.경도):
        latitude, longitude = get_la_lo(row.주소)
        df_null.at[row.Index, '위도'] = latitude
        df_null.at[row.Index, '경도'] = longitude
        
print(df_null)

  0%|          | 0/100 [04:09<?, ?it/s]

         구      동                         주소         위도          경도
1103   강동구   암사1동  서울특별시 강동구 암사1동 명일동 322-13        NaN         NaN
1137   강동구   암사3동         서울특별시 강동구 암사3동 440  37.561689  127.139631
1169   강동구   둔촌2동          서울특별시 강동구 둔촌2동 79  37.531523  127.145659
2711   광진구   중곡1동         서울특별시 광진구 천호대로 517  37.559291  127.073812
2719   광진구   중곡1동        서울특별시 광진구 긴고랑로1길 21        NaN         NaN
...    ...    ...                        ...        ...         ...
7999  영등포구  당산제2동      서울특별시 영등포구 당산동 171-30  37.534624  126.906549
8000  영등포구  당산제2동    서울특별시 영등포구 당산동6가 104-16  37.536440  126.899020
8001  영등포구  당산제2동         서울특별시 영등포구 당산로 229  37.534596  126.902478
8179  영등포구  대림제3동          서울특별시 영등포구 대림로35길  37.498950  126.897406
8181  영등포구  대림제3동         서울특별시 영등포구 가마산로47길        NaN         NaN

[474 rows x 5 columns]

In [159]:
df_null

         구      동                         주소         위도          경도
1103   강동구   암사1동  서울특별시 강동구 암사1동 명일동 322-13        NaN         NaN
1137   강동구   암사3동         서울특별시 강동구 암사3동 440  37.561689  127.139631
1169   강동구   둔촌2동          서울특별시 강동구 둔촌2동 79  37.531523  127.145659
2711   광진구   중곡1동         서울특별시 광진구 천호대로 517  37.559291  127.073812
2719   광진구   중곡1동        서울특별시 광진구 긴고랑로1길 21        NaN         NaN
...    ...    ...                        ...        ...         ...
7999  영등포구  당산제2동      서울특별시 영등포구 당산동 171-30  37.534624  126.906549
8000  영등포구  당산제2동    서울특별시 영등포구 당산동6가 104-16  37.536440  126.899020
8001  영등포구  당산제2동         서울특별시 영등포구 당산로 229  37.534596  126.902478
8179  영등포구  대림제3동          서울특별시 영등포구 대림로35길  37.498950  126.897406
8181  영등포구  대림제3동         서울특별시 영등포구 가마산로47길        NaN         NaN

[474 rows x 5 columns]

In [160]:
df_notnull_1 = df_null[df_null['위도'].notnull()]

In [161]:
df_notnull_1

         구      동                       주소         위도          경도
1137   강동구   암사3동       서울특별시 강동구 암사3동 440  37.561689  127.139631
1169   강동구   둔촌2동        서울특별시 강동구 둔촌2동 79  37.531523  127.145659
2711   광진구   중곡1동       서울특별시 광진구 천호대로 517  37.559291  127.073812
2778   광진구   중곡3동     서울특별시 광진구 용마산로33길 25  37.569807  127.085645
3104   광진구    화양동      서울특별시 광진구 광나루로22길 7  37.546312  127.075382
3113   광진구    화양동      서울특별시 광진구 능동로17길 39  37.546736  127.071508
7999  영등포구  당산제2동    서울특별시 영등포구 당산동 171-30  37.534624  126.906549
8000  영등포구  당산제2동  서울특별시 영등포구 당산동6가 104-16  37.536440  126.899020
8001  영등포구  당산제2동       서울특별시 영등포구 당산로 229  37.534596  126.902478
8179  영등포구  대림제3동        서울특별시 영등포구 대림로35길  37.498950  126.897406

In [148]:
df_2 = df_2[df_2['위도'].isna()]

In [130]:
# 위도,경도 null 인 데이터만 2차적으로 seoul_closed_clothes_lolanull(2) 로 저장
df_2.to_excel("./seoul_closed_clothes_lolanull(2).xlsx")

---

### kakao api

In [48]:
def get_location(address):
    
    url = f"https://dapi.kakao.com/v2/local/search/address.json?query={address}"
    
    # 발급받은 kakao API 
    headers = {''}
    
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        result = response.json()
        if result['documents']:
            latitude = result['documents'][0]['y']
            longitude = result['documents'][0]['x']
            return float(latitude), float(longitude)
        return None,None    

#위도와 경도가 없는 경우 업데이트

for row in df_null.itertuples():
    if pd.isna(row.위도) or pd.isna(row.경도):
        latitude, longitude = get_location(row.주소)
        df.at[row.Index, '위도'] = latitude
        df.at[row.Index, '경도'] = longitude
        
print(df_null)

위도,경도 NULL 인 데이터 카카오API 를 활용해도 변환할 수 없었음.

강동구 3개 수동 수정

광진구 14개 수동 수정

구로구 구주소로 수정

동작구 구주소로 수정

성동구 구주소로 수정

영등포구 5 수동 수정

df['칼럼'] = df['칼럼'].replace('A', 'B')

In [155]:
df_null

         구      동                         주소  위도  경도
1103   강동구   암사1동  서울특별시 강동구 암사1동 명일동 322-13 NaN NaN
1137   강동구   암사3동         서울특별시 강동구 암사3동 440 NaN NaN
1169   강동구   둔촌2동          서울특별시 강동구 둔촌2동 79 NaN NaN
2711   광진구   중곡1동         서울특별시 광진구 천호대로 517 NaN NaN
2719   광진구   중곡1동        서울특별시 광진구 긴고랑로1길 21 NaN NaN
...    ...    ...                        ...  ..  ..
7999  영등포구  당산제2동      서울특별시 영등포구 당산동 171-30 NaN NaN
8000  영등포구  당산제2동    서울특별시 영등포구 당산동6가 104-16 NaN NaN
8001  영등포구  당산제2동         서울특별시 영등포구 당산로 229 NaN NaN
8179  영등포구  대림제3동          서울특별시 영등포구 대림로35길 NaN NaN
8181  영등포구  대림제3동         서울특별시 영등포구 가마산로47길 NaN NaN

[474 rows x 5 columns]

In [97]:
df_null['주소'] = df_null['주소'].replace('서울특별시 영등포구 당산로 50길 17-1',\
    '서울특별시 영등포구 당산동6가 104-16')

/tmp/ipykernel_7688/4158337346.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_null['주소'] = df_null['주소'].replace('서울특별시 영등포구 당산로 50길 17-1',\

In [156]:
df_null

         구      동                         주소  위도  경도
1103   강동구   암사1동  서울특별시 강동구 암사1동 명일동 322-13 NaN NaN
1137   강동구   암사3동         서울특별시 강동구 암사3동 440 NaN NaN
1169   강동구   둔촌2동          서울특별시 강동구 둔촌2동 79 NaN NaN
2711   광진구   중곡1동         서울특별시 광진구 천호대로 517 NaN NaN
2719   광진구   중곡1동        서울특별시 광진구 긴고랑로1길 21 NaN NaN
...    ...    ...                        ...  ..  ..
7999  영등포구  당산제2동      서울특별시 영등포구 당산동 171-30 NaN NaN
8000  영등포구  당산제2동    서울특별시 영등포구 당산동6가 104-16 NaN NaN
8001  영등포구  당산제2동         서울특별시 영등포구 당산로 229 NaN NaN
8179  영등포구  대림제3동          서울특별시 영등포구 대림로35길 NaN NaN
8181  영등포구  대림제3동         서울특별시 영등포구 가마산로47길 NaN NaN

[474 rows x 5 columns]

In [99]:
df_null.to_csv("./seoul_closed_clothes_lolanull(1).csv",index=False)

---

#### google api

In [134]:
mykey = "googlemaps api key"
maps = googlemaps.Client(key=mykey)

def trans_geo(addr):
    try:
        geo_location = maps.geocode(addr)[0].get('geometry')
        lat = geo_location['lat']
        lng = geo_location['lng']
        return [lat,lng]
    except:
        return[0,0]
    
for idx, 주소 in enumerate(df_2):
    df_2.loc[idx,'latitude'] = trans_geo(주소)[0]
    df_2.loc[idx, 'longitude'] = trans_geo(주소)[1]

위도,경도 NULL 인 데이터 구글API 를 활용해도 변환할 수 없었음.

---

##### 위도, 경도 3차 변환

변환되지 않은 464 개 행은 구글 스프레드 시트를 활용하여 변환함

In [142]:
df_3 = pd.read_csv("./seoul_closed_clothes_lolanull(3).csv", encoding='utf-8')
df_convert = df_3.drop(['Unnamed: 0'], axis=1)

In [143]:
df_convert

        구      동                         주소         위도          경도
0     강동구   암사1동  서울특별시 강동구 암사1동 명일동 322-13  37.551190  127.141393
1     광진구   중곡1동        서울특별시 광진구 긴고랑로1길 21  37.565010  127.077637
2     광진구   중곡3동        서울특별시 광진구 긴고랑로1길 71  37.567078  127.078847
3     광진구     능동       서울특별시 광진구 능동로 26길 22  37.552566  127.078315
4     광진구   구의3동       서울특별시 광진구 아차산로63길 28  37.540724  127.092393
..    ...    ...                        ...        ...         ...
459   성동구    금호동        서울특별시 성동구 동호로 2나길 8  37.547717  127.018533
460   성동구    금호동    서울특별시 성동구 동호로 2나길 12-10  37.547507  127.018236
461   성동구    금호동        서울특별시 성동구 동호로 2가길 5  37.547379  127.016700
462   성동구    금호동     서울특별시 성동구 동호로 2가길 76-3  37.547688  127.016752
463  영등포구  대림제3동         서울특별시 영등포구 가마산로47길  37.503167  126.899534

[464 rows x 5 columns]

---

데이터프레임 3개 합치기

In [152]:
df_notnull

        구     동                     주소         위도          경도
0     강남구  역삼1동   서울특별시 강남구 테헤란로57길 38  37.506748  127.046371
1     강남구  역삼1동  서울특별시 강남구 테헤란로 53길 51  37.506840  127.044373
2     강남구  역삼1동  서울특별시 강남구 테헤란로 53길 37  37.506241  127.045349
3     강남구  역삼1동    서울특별시 강남구 테헤란로55길50  37.507095  127.045052
4     강남구  역삼1동     서울특별시 강남구봉은사로50길41  37.507862  127.044632
...   ...   ...                    ...        ...         ...
9254  종로구   숭인동     서울특별시 종로구 숭인동1가길 1  37.576599  127.020699
9255  종로구   숭인동     서울특별시 종로구 숭인동1길 19  37.578552  127.020836
9256  종로구   숭인동     서울특별시 종로구 보문로9길 43  37.576736  127.021057
9257  종로구   숭인동   서울특별시 종로구 숭인동2길 36-4  37.575352  127.019043
9258  종로구   숭인동    서울특별시 종로구 종로63가길 26  37.578194  127.019913

[8785 rows x 5 columns]

In [162]:
df_notnull_1

         구      동                       주소         위도          경도
1137   강동구   암사3동       서울특별시 강동구 암사3동 440  37.561689  127.139631
1169   강동구   둔촌2동        서울특별시 강동구 둔촌2동 79  37.531523  127.145659
2711   광진구   중곡1동       서울특별시 광진구 천호대로 517  37.559291  127.073812
2778   광진구   중곡3동     서울특별시 광진구 용마산로33길 25  37.569807  127.085645
3104   광진구    화양동      서울특별시 광진구 광나루로22길 7  37.546312  127.075382
3113   광진구    화양동      서울특별시 광진구 능동로17길 39  37.546736  127.071508
7999  영등포구  당산제2동    서울특별시 영등포구 당산동 171-30  37.534624  126.906549
8000  영등포구  당산제2동  서울특별시 영등포구 당산동6가 104-16  37.536440  126.899020
8001  영등포구  당산제2동       서울특별시 영등포구 당산로 229  37.534596  126.902478
8179  영등포구  대림제3동        서울특별시 영등포구 대림로35길  37.498950  126.897406

In [154]:
df_convert

        구      동                         주소         위도          경도
0     강동구   암사1동  서울특별시 강동구 암사1동 명일동 322-13  37.551190  127.141393
1     광진구   중곡1동        서울특별시 광진구 긴고랑로1길 21  37.565010  127.077637
2     광진구   중곡3동        서울특별시 광진구 긴고랑로1길 71  37.567078  127.078847
3     광진구     능동       서울특별시 광진구 능동로 26길 22  37.552566  127.078315
4     광진구   구의3동       서울특별시 광진구 아차산로63길 28  37.540724  127.092393
..    ...    ...                        ...        ...         ...
459   성동구    금호동        서울특별시 성동구 동호로 2나길 8  37.547717  127.018533
460   성동구    금호동    서울특별시 성동구 동호로 2나길 12-10  37.547507  127.018236
461   성동구    금호동        서울특별시 성동구 동호로 2가길 5  37.547379  127.016700
462   성동구    금호동     서울특별시 성동구 동호로 2가길 76-3  37.547688  127.016752
463  영등포구  대림제3동         서울특별시 영등포구 가마산로47길  37.503167  126.899534

[464 rows x 5 columns]

In [163]:
df_final = pd.concat([df_notnull,df_notnull_1,df_convert]) #세로 병합

In [165]:
df_final.isnull().sum()

구     0
동     0
주소    0
위도    0
경도    0
dtype: int64

In [166]:
df_final.to_csv("./seoul_closed_clothes_final.csv", encoding='utf-8')